body {
  margin: 0;
  padding: 0;
  

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background-image: url("https://awesomewallpapers.files.wordpress.com/2009/06/nintendo-29.jpg");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
